NET "CLK" LOC="B8";

NET "KATOT[0]" LOC="B2";
NET "KATOT[1]" LOC="A3";
NET "KATOT[2]" LOC="J3";
NET "KATOT[3]" LOC="B5";
NET "KATOT[4]" LOC="C6";
NET "KATOT[5]" LOC="B6";
NET "KATOT[6]" LOC="C5";
NET "KATOT[7]" LOC="B7";

NET "DS" LOC="A9";
NET "OE" LOC="B9";
NET "ST_CP" LOC="A10";
NET "SH_CP" LOC="C9";
NET "reset" LOC="C12";

NET "moveUP" LOC="A7";
NET "moveDOWN" LOC="M4";

NET "RESET_GAME" LOC="N3";

NET "CLEAR_DISPLAY" LOC="E2";
NET "DISPLAY_ENABLED" LOC="F3";
NET "DISPLAY_GROUND[3]"  LOC = "F12";  //left-most digit
NET "DISPLAY_GROUND[2]"  LOC = "J12";
NET "DISPLAY_GROUND[1]"  LOC = "M13";
NET "DISPLAY_GROUND[0]"  LOC = "K14";  // right-most digit
NET "DISPLAY_POWER[6]"   LOC = "L14";  // CA
NET "DISPLAY_POWER[5]"   LOC = "H12";  // CB
NET "DISPLAY_POWER[4]"   LOC = "N14";  // CC
NET "DISPLAY_POWER[3]"   LOC = "N11";  // CD 
NET "DISPLAY_POWER[2]"   LOC = "P12";  // CE
NET "DISPLAY_POWER[1]"   LOC = "L13";  // GF
NET "DISPLAY_POWER[0]"   LOC = "M12";  // CG
NET "DP" LOC = "N13";
