//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 21 19:07:13 2015
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "N13" LEVEL 1;
COMP "DS" LOCATE = SITE "A9" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "DISPLAY_POWER<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "DISPLAY_POWER<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "DISPLAY_POWER<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "DISPLAY_POWER<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "DISPLAY_POWER<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "DISPLAY_POWER<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "DISPLAY_POWER<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SH_CP" LOCATE = SITE "C9" LEVEL 1;
COMP "ST_CP" LOCATE = SITE "A10" LEVEL 1;
COMP "reset" LOCATE = SITE "C12" LEVEL 1;
COMP "OE" LOCATE = SITE "B9" LEVEL 1;
COMP "CLEAR_DISPLAY" LOCATE = SITE "E2" LEVEL 1;
COMP "moveUP" LOCATE = SITE "A7" LEVEL 1;
COMP "moveDOWN" LOCATE = SITE "M4" LEVEL 1;
COMP "KATOT<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "KATOT<1>" LOCATE = SITE "A3" LEVEL 1;
COMP "KATOT<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "KATOT<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "KATOT<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "KATOT<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "KATOT<6>" LOCATE = SITE "C5" LEVEL 1;
COMP "KATOT<7>" LOCATE = SITE "B7" LEVEL 1;
COMP "DISPLAY_ENABLED" LOCATE = SITE "F3" LEVEL 1;
COMP "RESET_GAME" LOCATE = SITE "N3" LEVEL 1;
COMP "DISPLAY_GROUND<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "DISPLAY_GROUND<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "DISPLAY_GROUND<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "DISPLAY_GROUND<3>" LOCATE = SITE "F12" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

